body,
html {
  display: block;
  font-family: Poppins, sans-serif;
  background-color: #222222;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header {
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px;
  position: sticky;
  top: 0;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
  margin-left: 30px;
}

.links li {
  display: inline;
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 30px;
}

.links a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #a32327;
}

main {
  padding: 20px;
  overflow: auto;
}

#content {
  float: left;
  width: 70%;
}

aside {
  float: right;
  width: 30%;
  padding-left: 20px;
}

aside article header {
  position: static;
}

figure figcaption {
  font-size: 9px;
  color: #f6f6f6;
}

figure h2, header p{
  background: #a32327;
}

.profile header {
  text-align: center;
}

table {
  color: #ffffff;
  text-align: left;
  margin: 10px;
}

aside article section p {
  text-align: center;
  background: #a32327;
}

.profile img {
  object-position: center;
  width: 200px;
  height: auto;
}

h2,
h3,
p,
footer {
  color: #ffffff;
}

.banner{
  background: url(../assets/banner-background.jpg);
  width: 100%;
  padding: 200px;
  margin-bottom: 10px;
}

.banner h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-weight: bolder;
  color: #a32327;
  text-shadow: 4px 4px #3d3939;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

section {
  overflow: auto;
}
.crew-image {
  height: auto;
  width: 250px;
  padding-top: 5px;
  padding-right: 25px;
  float: left;
}

.card {
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}


footer {
  padding: 20px;
  background-color: #a32327;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1300px) {
  #content,
  aside {
    width: 100%;
  } 
}